/* 
=============================================
------------------- BASE --------------------
=============================================
*/
body{
	background-color: #f3f3f3;
	*{
		box-sizing: border-box;
		outline: none;
	}
}
.container{
	max-width: 1250px;
	margin: auto;
}