$primary: #2ac5ee;
$secondary: #cac9c9;

html,
body,
#app{
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.login-n1{
	background-image: url('/dist/img/main-login.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 2.5%;

	> p{
	    color: #fff;
    	font-weight: 300;
	    font-size: 19px;
	    margin: 25px 0;
        line-height: 1.4;
	}

	a{
		color: #fff !important;
		text-decoration: underline;
		font-weight: 300;
	}

	&__inner{
		padding: 40px 35px;
		background: #fff;
		margin: 0 auto;
		width: 400px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
		border-radius: 1px;
		background: #fff; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(#fff, lighten($primary, 40%)); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#fff, lighten($primary, 40%)); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#fff, lighten($primary, 40%)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#fff, lighten($primary, 40%)); /* Standard syntax */

	    div{
	    	text-align: left;
		}
	}

	&__title{
		font-size: 1.7em;
		font-weight: lighter;
		padding: 0;
		margin: 0;
		padding-bottom: 20px;
		margin-bottom: 20px;
		font-weight: 300;
		
		&__name{
			text-transform: uppercase;
			color: $primary;
			font-weight: 700;
		}

		em{
			font-size: 17px;
		}
	}

	&__field{
		position: relative;

		&__email, &__pass{
			display: block;
			width: 100%;
			border: none;
			border-bottom: 1px solid $secondary;
			transition: all 0.5s ease-in-out;
			margin-bottom: 20px;
			height: 50px;
			color: $primary;
			font-weight: 300;
			font-size: 1.3em;
			background-color: transparent;

			+ label{
				position: absolute;
				top: 13px;
				left: 0;
				font-size: 18px;
			    font-size: 1.3em;
			    font-weight: 300;
			    transition: all 0.2s ease-in-out;
			}

			&:focus{
				outline: none;
				border-bottom: 1px solid $primary;
				transition: all 0.2s ease-in-out;

				+ label{
					top: -13px;
					font-size: 14px;
				}
			}
		}

		&__pass{
			margin-bottom: 45px;
		}
	}

	&__send{
		background: $primary;
		border: none;
		padding: 10px 40px;
		color: #fff;
		text-transform: uppercase;

		&:hover{
			background: lighten($primary, 5%);
		}
	}
}