$header: #364860;
$header-hover: #314156;
$primary: #2ac5ee;
$header-height: 62px;

.dashboard{
	&__header{
		background-color: $header;
		height: $header-height;
	    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	    margin-bottom: 15px;
		&__inner{
			&__iconmenu{
				width: $header-height;
				height: $header-height;
				display: inline-block;
				vertical-align: middle;
				background-color: #4b6486;
				.iconmenu{
					width: 21px;
					margin: auto;
					height: $header-height;
					padding-top: 20px;
					.square{
						width: 5px;
						height: 5px;
						background-color: #fff;
						display: block;
						float: left;
						margin: 1px;
					}
				}
				&__menu-principal{
					display: none;
					height: 400px;
					box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
					background-color: #fff;
					width: 100%;
				    position: absolute;
				    left: 0;
				}
				&:hover{
					background-color: #fff;
					.iconmenu{
						.square{
							background-color: #999;
						}
					}
					.dashboard__header__inner__iconmenu__menu-principal{
						display: block;
						z-index: 99;
					}
				}
			}
			&__logo{
				display: inline-block;
				vertical-align: middle;
				margin-left: 20px;
				h1{
					margin: 15px 0;
					color: #fff;
					display: inline-block;
				}
			}
			&__menu{
				float: right;
				> ul{
					height: $header-height;
					> li{
						display: inline-block;
						vertical-align: top;
						height: $header-height;
						position: relative;
						&:first-child{
							a{
								border-left: 1px solid $header-hover;
							}
						}
						.count{
							font-size: 11px;
							background-color: $primary;
						    width: 16px;
						    line-height: 16px;
						    display: block;
						    border-radius: 100%;
						    font-weight: 700;
						    position: absolute;
						    top: 12px;
						    right: 13px;
						}
						> a{
							color: #fff;
							height: $header-height;
							line-height: $header-height;
							display: block;
							font-size: 25px;
							width: 72px;
							text-align: center;
							border-right: 1px solid $header-hover;
							font-weight: 300;
							&:hover, &:active{
								background-color: $header-hover;
							}
						}
					}
				}
				&__user{
					z-index: 99;
					&__info{
						padding: 7px 30px 7px 15px;
						cursor: default;
						height: $header-height;
						position: relative;
						&::after{
							content: "\e885";
							font-family: 'Tonicons';
							position: absolute;
							right: 10px;
							top: 50%;
							margin-top: -2px;
							-ms-transform: rotate(90deg);
						    -webkit-transform: rotate(90deg);
						    transform: rotate(90deg);
						    font-size: 10px;
						    color: #fff;
						}
						img{
							width: 48px;
							height: auto;
							border-radius: 100%;
							float: right;
							margin-left: 10px;
						}
						&__text{
							float: left;
							text-align: right;
							color: #fff;
							font-weight: 300;
							padding-top: 7px;
							&__name{
								font-size: 18px;
							}
							&__email{
								margin-top: 4px;
								font-size: 12px;
							}
						}
					}
					> ul{
						background-color: #fff;
						box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
						display: none;
						li{
							display: block;
							text-align: right;
							a{
								display: block;
							    padding: 0 10px;
							    border-bottom: 1px solid #ddd;
							    color: #333;
							    font-weight: 300;
							    font-size: 17px;
							    height: 40px;
							    line-height: 40px;
							    *{
							    	vertical-align: middle;
							    }
							    i{
							    	margin-left: 5px;
							    	&.ton-li-on-off{
								    	font-size: 19px;
								    }
								    &.ton-li-gear-1{
								    	font-size: 27px;
								    }
							    }
							}
						}
					}
					&:hover{
						background-color: $header-hover;
						> ul{
							display: block;
						}
					}
				}
			}
		}
	}
}