// COLORS
$white: #ffffff;
$line-color: #ece9e9;
$default-tag-color: #26c6da;

// HELPERS
.padding-left-zero {
	padding-left: 0;
	padding-right: 10px;
}

.padding-right-zero {
	padding-right: 0;
	padding-left: 10px;
}

.no-padding {
	padding: 0;
}


// DEFAULTS
div {
	word-wrap: break-word;
}

.border {
	border: 1px solid red;
}

// BLOCK
.resume-card {
	position: relative;
	display: inline-block;
	border: 1px solid $line-color;
	background: white;
	padding: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    vertical-align: top;
    &.medium-12{
		padding: 0;
	}
}

// ELEMENT

.resume-card__header {
	position: relative;
	min-height: 25px;
	.title {
		font-size: 15px;
		text-transform: uppercase;
		color: rgba(0,0,0,0.75);
	}
	.subtitle {
		margin-top: 5px;
		font-size: 14px;
		color: rgba(0,0,0,0.65);
		font-weight: 400;
	}
	.tag {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 3px;
		color: $white;
		background: $default-tag-color;
		text-transform: lowercase;
		padding: 3px 10px;
		font-size: 14px;
	}
	.btn {
		display: inline-block;
		position: absolute;
		border: 1px solid #dfdfdf;
		top: -10px;
		right: 0;
		color: #000;
	    border-radius: 3px;
	    padding: 10px;
	    text-align: right;
	    min-width: 115px;
	    font-size: 13px;
	    color: #666;
		background-color: #fafafa;
		img {
			float: left;
		}
		i{
			font-size: 1.5em;
			color: inherit;
			position: absolute;
		    top: 0;
		    left: 0;
		    line-height: 33px;
	        padding: 0 8px;
	        background-color: rgba(0, 0, 0, 0.05);
		}
	}
}

.resume-card.medium-12{
	.resume-card__content{
		.inner-box{
			padding: 15px 20px;
		}
	}
}

.resume-card__content {
	.inner-box {
		border-right: 1px solid $line-color;
		padding-top: 10px;
		padding-bottom: 10px;

		&:first-child {
			.valuation h2 {
				color: #00c292;
			}
		}
		&:nth-child(2) {
			.valuation h2 {
				color: #fb9678;
			}
		}
		&:nth-child(3) {
			.valuation h2 {
				color: #03a9f3;
			}
		}
			
		&:last-child {
			border-right: 0;
			.valuation h2 {
				color: #2ac5ee;
			}
		}
	}
	i {
		font-size: 45px;
	    color: rgba(0, 0, 0, 0.25);
	}

	.valuation {
		text-align: right;
		display: inline-block;
		float: right;
		span {
			font-size: 16px;
    		font-weight: 300;
    		color: #8d9ea7;
    		line-height: 1.3em;
    		margin-bottom: 5px;
    		display: inline-block;
		}
		h2 {
			font-size: 23px;
			font-weight: 400;
		}
	}
}

.last-transactions {
	padding: 10px;
	.resume-card__header {
		height: 50px;
	}
	.tag {
	    border-radius: 2px;
	    display: inline-block;
	    background: #2fdc8c;
	    color: #ffffff;
	    padding: 5px 10px;
	    font-size: 13px;
	    &.waiting-payment {
	    	background: #f69f00;
	    }
	    &.payment-expired {
	    	background: #f04e51;
	    }
	    &.canceled {
	    	background: #292f43;
	    }
	}
	table {
		width: 100%;
		thead {
			tr {
				border-bottom: 1px solid #dddddd;
				th {
					text-align: left;
					padding-bottom: 20px;
				}
			}
		}

		tbody {
			tr {
				border-bottom: 1px solid #dddddd;
				&:last-child {
					border: 0;
					padding-bottom: 0;
				}
				td {
					text-align: left;
					padding: 15px 0;
					a {
						color: #03a9f3;
						display: inline-block;
						margin-bottom: 5px;
					}
					small {
						display: block;
						color: #999;
					}
				}
			}
		}
	}
}

// CARD PROGRESS

.resume-card__progress{
	.progress{
		&__stats{
			&__title{
				font-size: 14px;
			}
			&__percent{
				float: right;
				font-size: 14px;
			}
		}
		&__bar{
			&__outer{
				width: 100%;
				height: 8px;
			    margin: 7px 0 19px;
			    background-color: #f5f5f5;
			    border-radius: 3px;
			    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
			    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
			    border-radius: 2px;
			}
			&__inner{
				height: 8px;
				background-color: #2fdc8c;
				border-radius: 2px;
			}
		}
	}
}

// MODIFIER